@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@font-face {
  font-family: "CeraRoundPro";
  font-display: swap;
  src: url("../fonts/CeraRoundPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "CeraRoundPro";
  font-display: swap;
  src: url("../fonts/CeraRoundPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Haettenschweiler";
  font-display: swap;
  src: url("../fonts/haettenschweiler.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Acherus";
  font-display: swap;
  src: url("../fonts/Acherus.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
  cursor: default;
}

body {
  line-height: 1;
  font-family: "CeraRoundPro", sans-serif;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-width: 375px;
}

input,
button,
textarea {
  font-family: "CeraRoundPro", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1950px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: 700;
  color: #2d2f30;
  font-size: 60px;
}
@media (max-width: 1920px) {
  .title {
    font-size: calc(
            37px + 23 *
                ((100vw - 420px) / 1500)
        );
  }
}

.text {
  line-height: 109.0909090909%;
  font-weight: 300;
  color: #2d2f30;
  font-size: 33px;
}
@media (max-width: 1920px) {
  .text {
    font-size: calc(
            20px + 13 *
                ((100vw - 420px) / 1500)
        );
  }
}

.btn {
  padding: 26px 85px;
  background-color: #58aee6;
  font-size: 25px;
  line-height: 112%;
  font-weight: 700;
  color: white;
  border-radius: 40px;
}
@media (max-width: 1920px) {
  .btn {
    font-size: calc(
            18px + 7 *
                ((100vw - 420px) / 1500)
        );
  }
}
@media (max-width: 420px) {
  .btn {
    padding: 16px 65px;
  }
}

.intro {
  padding: 110px 0;
  position: relative;
  overflow: hidden;
}
@media (max-width: 420px) {
  .intro {
    padding: 30px 0;
  }
}
.intro__bg {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  -webkit-animation: show 1.2s ease-in-out;
          animation: show 1.2s ease-in-out;
}
.intro__bg img {
  height: 447px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1200px) {
  .intro__bg img {
    height: 550px;
  }
}
@media (max-width: 420px) {
  .intro__bg img {
    height: 350px;
  }
}
.intro__block {
  padding: 0 20px 0 186px;
}
@media (max-width: 1500px) {
  .intro__block {
    padding: 0 20px 0 86px;
  }
}
@media (max-width: 1300px) {
  .intro__block {
    padding: 0;
  }
}
.intro__bg-2 {
  position: absolute;
  right: 0;
  bottom: 120px;
  -webkit-animation: show 1.4s ease-in-out;
          animation: show 1.4s ease-in-out;
}
.intro__bg-2 img {
  width: 704px;
}
@media (max-width: 1920px) {
  .intro__bg-2 img {
    width: calc(
                280px + 424 *
                    ((100vw - 420px) / 1500)
            );
  }
}
@media (max-width: 1200px) {
  .intro__bg-2 {
    -webkit-animation: show-2 1.4s ease-in-out;
            animation: show-2 1.4s ease-in-out;
    bottom: 47%;
    -webkit-transform: translateY(43%);
        -ms-transform: translateY(43%);
            transform: translateY(43%);
  }
}
.intro__title {
  font-size: 89px;
  line-height: 108.9887640449%;
  color: #2d2f30;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  margin-bottom: 140px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-animation: show 1s ease-in-out;
          animation: show 1s ease-in-out;
}
@media (max-width: 1920px) {
  .intro__title {
    font-size: calc(
            37px + 52 *
                ((100vw - 420px) / 1500)
        );
  }
}
@media (max-width: 1200px) {
  .intro__title {
    margin-bottom: 400px;
  }
}
@media (max-width: 420px) {
  .intro__title {
    margin-bottom: 370px;
  }
}
.intro__title span {
  color: #58aee6;
}
.intro__title i {
  font-style: normal;
}
@media (max-width: 420px) {
  .intro__title i {
    font-weight: 400;
  }
}
.intro__title:before {
  content: url("../img/icon-7.png");
  position: absolute;
  right: -160px;
  top: -150px;
}
@media (max-width: 1200px) {
  .intro__title:before {
    content: url("../img/icon-11.png");
    bottom: -210px;
    top: auto;
    left: -70px;
  }
}
.intro ul {
  margin-bottom: 59px;
}
.intro ul li {
  font-size: 24px;
  line-height: 183.3333333333%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 600;
}
@media (max-width: 1920px) {
  .intro ul li {
    font-size: calc(
            18px + 6 *
                ((100vw - 420px) / 1500)
        );
  }
}
.intro ul li:nth-child(1) {
  -webkit-animation: show 1.6s ease-in-out;
          animation: show 1.6s ease-in-out;
}
.intro ul li:nth-child(2) {
  -webkit-animation: show 1.8s ease-in-out;
          animation: show 1.8s ease-in-out;
}
.intro ul li:nth-child(3) {
  -webkit-animation: show 2s ease-in-out;
          animation: show 2s ease-in-out;
}
@media (max-width: 420px) {
  .intro ul li {
    line-height: 110%;
  }
  .intro ul li img {
    width: 20px;
  }
  .intro ul li:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media (max-width: 420px) {
  .intro ul {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
.intro__btn {
  font-size: 24px;
  line-height: 116.6666666667%;
  font-weight: 600;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  color: white;
  background-color: transparent;
}
@media (max-width: 1920px) {
  .intro__btn {
    font-size: calc(
            18px + 6 *
                ((100vw - 420px) / 1500)
        );
  }
}
@media (max-width: 420px) {
  .intro__btn-2 {
    margin: 0 auto;
  }
}
@media (max-width: 620px) {
  .intro__btn {
    display: none;
  }
}
.intro__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

@-webkit-keyframes show {
  from {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes show {
  from {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes show-2 {
  from {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
  to {
    -webkit-transform: translateY(47%);
            transform: translateY(47%);
  }
}
@keyframes show-2 {
  from {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
  to {
    -webkit-transform: translateY(47%);
            transform: translateY(47%);
  }
}
.video-reviews {
  background-color: #58aee6;
  padding-top: 89px;
  overflow: hidden;
}
@media (max-width: 420px) {
  .video-reviews {
    padding-top: 35px;
    padding-bottom: 30px;
  }
}
.video-reviews__title {
  margin-bottom: 27px;
  color: white;
}
@media (max-width: 420px) {
  .video-reviews__title {
    margin-bottom: 20px;
  }
}
.video-reviews__text {
  color: white;
}
.video-reviews__text span {
  font-weight: 700;
}
.video-reviews__block {
  padding: 0 20px 0 186px;
}
@media (max-width: 950px) {
  .video-reviews__block {
    padding: 0;
  }
}
.video-reviews__swiper {
  margin: 0 69px;
  margin-top: 50px;
  position: relative;
}
@media (max-width: 1240px) {
  .video-reviews__swiper {
    margin: 0;
    margin-top: 50px;
  }
}
@media (max-width: 420px) {
  .video-reviews__swiper {
    overflow: hidden;
    margin-top: 20px;
  }
}
.video-reviews__swiper-slide {
  width: 24.1582491582%;
  height: 480px;
  position: relative;
}
@media (max-width: 1920px) {
  .video-reviews__swiper-slide {
    height: calc(
                420px + 60 *
                    ((100vw - 420px) / 1500)
            );
  }
}
@media (max-width: 1024px) {
  .video-reviews__swiper-slide {
    width: 240px;
  }
}
@media (max-width: 420px) {
  .video-reviews__swiper-slide {
    width: 100%;
  }
}
.video-reviews__swiper-slide iframe {
  width: 100%;
  height: 100%;
}
.video-reviews__swiper-slide .img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.video-reviews__swiper-slide .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video-reviews__swiper-slide .img .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.55);
}
.video-reviews__swiper-slide button {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.video-reviews__swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
  padding: 15px 0;
  gap: 4px;
}
.video-reviews__swiper-pagination .swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
  width: 10px;
  height: 10px;
}
.video-reviews__swiper-pagination .swiper-pagination-bullet-active {
  background-color: transparent;
  position: relative;
  padding: 0 9px;
}
.video-reviews__swiper-pagination .swiper-pagination-bullet-active:before {
  content: url("../img/icon-10.png");
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-42%) translateX(-50%);
      -ms-transform: translateY(-42%) translateX(-50%);
          transform: translateY(-42%) translateX(-50%);
}
.video-reviews__swiper .swiper-wrapper {
  gap: 1.1223344557%;
}
@media (max-width: 1024px) {
  .video-reviews__swiper .swiper-wrapper {
    gap: 0;
  }
}
.video-reviews__icon {
  position: absolute;
  bottom: -35px;
  right: 10px;
  z-index: 1;
}
@media (max-width: 1024px) {
  .video-reviews__icon {
    bottom: 20px;
    right: 20px;
  }
}
@media (max-width: 420px) {
  .video-reviews__icon {
    right: 40px;
    bottom: 60px;
  }
}
.video-reviews__icon p {
  font-size: 20px;
  line-height: 138.4615384615%;
  color: white;
  font-weight: 700;
  -webkit-animation: 24s linear 0s normal none infinite running rot;
          animation: 24s linear 0s normal none infinite running rot;
}
@media (max-width: 1920px) {
  .video-reviews__icon p {
    font-size: calc(
            16px + 4 *
                ((100vw - 420px) / 1500)
        );
  }
}
.video-reviews__icon img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  left: 50%;
  width: 70px;
}
@media (max-width: 1024px) {
  .video-reviews__icon img {
    width: 50px;
    -webkit-transform: translateY(-40%) translateX(-50%);
        -ms-transform: translateY(-40%) translateX(-50%);
            transform: translateY(-40%) translateX(-50%);
  }
}

.reviews {
  padding-top: 102px;
  padding-bottom: 220px;
}
@media (max-width: 420px) {
  .reviews {
    padding-top: 66px;
    padding-bottom: 0;
  }
}
@media (max-width: 420px) {
  .reviews__container {
    padding-left: 0;
    padding-right: 0;
  }
}
.reviews__title {
  margin-bottom: 27px;
}
@media (max-width: 420px) {
  .reviews__title {
    margin-bottom: 16px;
  }
}
.reviews__block {
  padding: 0 20px 0 186px;
}
@media (max-width: 950px) {
  .reviews__block {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.reviews__swiper {
  margin-top: 50px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 90px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 90px rgba(0, 0, 0, 0.1);
  border-radius: 60px;
}
@media (max-width: 420px) {
  .reviews__swiper {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}
.reviews__swiper-pagination {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}
@media (max-width: 950px) {
  .reviews__swiper-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.reviews__swiper-pagination .swiper-pagination-bullet {
  background-color: #454647;
  opacity: 1;
  width: 10px;
  height: 10px;
}
.reviews__swiper-pagination .swiper-pagination-bullet-active {
  background-color: #58aee6;
}
.reviews__swiper-button-prev {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%) translateX(30px);
      -ms-transform: translateY(-50%) translateX(30px);
          transform: translateY(-50%) translateX(30px);
}
@media (max-width: 950px) {
  .reviews__swiper-button-prev {
    display: none;
  }
}
.reviews__swiper-button-next {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%) translateX(-30px);
      -ms-transform: translateY(-50%) translateX(-30px);
          transform: translateY(-50%) translateX(-30px);
}
@media (max-width: 950px) {
  .reviews__swiper-button-next {
    display: none;
  }
}
.reviews__swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 110px;
  padding: 165px 100px 60px 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1420px) {
  .reviews__swiper-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    padding: 100px 100px 60px 100px;
  }
}
@media (max-width: 950px) {
  .reviews__swiper-slide {
    padding: 35px 35px 77px 50px;
  }
}
@media (max-width: 950px) {
  .reviews__swiper-slide {
    padding-bottom: 50px;
  }
}
.reviews__swiper-slide p {
  font-size: 30px;
  font-size: 30px;
  line-height: 166.6666666667%;
  color: #2d2f30;
  font-weight: 300;
  max-width: 900px;
  margin-right: 133px;
  position: relative;
  margin-top: 60px;
}
@media (max-width: 1920px) {
  .reviews__swiper-slide p {
    font-size: calc(
            22px + 8 *
                ((100vw - 420px) / 1500)
        );
  }
}
.reviews__swiper-slide p:before, .reviews__swiper-slide p:after {
  content: "“";
  font-size: 91px;
  line-height: 109.8901098901%;
  color: #58aee6;
  font-weight: 700;
  position: absolute;
}
@media (max-width: 1920px) {
  .reviews__swiper-slide p:before, .reviews__swiper-slide p:after {
    font-size: calc(
            52px + 39 *
                ((100vw - 420px) / 1500)
        );
  }
}
.reviews__swiper-slide p:before {
  top: -70px;
  left: -100px;
}
@media (max-width: 950px) {
  .reviews__swiper-slide p:before {
    left: -50px;
  }
}
@media (max-width: 420px) {
  .reviews__swiper-slide p:before {
    top: -30px;
    left: -40px;
  }
}
.reviews__swiper-slide p:after {
  right: -80px;
  bottom: -60px;
}
@media (max-width: 950px) {
  .reviews__swiper-slide p:after {
    right: -20px;
  }
}
@media (max-width: 1700px) {
  .reviews__swiper-slide p {
    margin-right: 0;
  }
}
@media (max-width: 1420px) {
  .reviews__swiper-slide p {
    margin-top: 0;
    max-width: none;
  }
}
.reviews__swiper-slide ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  margin-top: 110px;
}
@media (max-width: 420px) {
  .reviews__swiper-slide ul {
    display: none;
  }
}
.reviews__swiper-slide ul li {
  font-size: 30px;
  line-height: 166.6666666667%;
  font-weight: 300;
  color: #58aee6;
}
@media (max-width: 1920px) {
  .reviews__swiper-slide ul li {
    font-size: calc(
            22px + 8 *
                ((100vw - 420px) / 1500)
        );
  }
}
.reviews__swiper-slide ul li span {
  color: #2d2f30;
}
@media (max-width: 420px) {
  .reviews__profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
    margin-bottom: 30px;
  }
}
.reviews__profile-avatar {
  width: 167px;
  position: relative;
  margin-bottom: 42px;
}
@media (max-width: 420px) {
  .reviews__profile-avatar {
    width: 105px;
    margin-bottom: 0;
  }
}
.reviews__profile-avatar img {
  width: 100%;
  height: 167px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 420px) {
  .reviews__profile-avatar img {
    height: 105px;
  }
}
.reviews__profile-avatar::before {
  content: url("../img/icon-1.png");
  position: absolute;
  bottom: -10px;
  right: -10px;
}
@media (max-width: 420px) {
  .reviews__profile-avatar::before {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
    bottom: -20px;
    right: -20px;
  }
}
.reviews__profile h4 {
  font-weight: 700;
}
.reviews__icon {
  position: absolute;
  bottom: -125px;
  left: 180px;
  z-index: 1;
}
@media (max-width: 1420px) {
  .reviews__icon {
    display: none;
  }
}
.reviews__icon p {
  font-size: 20px;
  line-height: 138.4615384615%;
  color: #2d2f30;
  font-weight: 700;
  -webkit-animation: 24s linear 0s normal none infinite running rot;
          animation: 24s linear 0s normal none infinite running rot;
}
@media (max-width: 1920px) {
  .reviews__icon p {
    font-size: calc(
            16px + 4 *
                ((100vw - 420px) / 1500)
        );
  }
}
.reviews__icon img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  left: 50%;
  width: 80px;
}
.reviews__wrapper {
  position: relative;
  padding: 0 96px;
}
@media (max-width: 950px) {
  .reviews__wrapper {
    padding: 0;
  }
}

@-webkit-keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.footer {
  padding: 40px 0;
  overflow: hidden;
}
@media (max-width: 768px) {
  .footer {
    padding-top: 120px;
  }
}
.footer > div {
  background-color: #262a2b;
}
.footer__block {
  background-color: #61c3ff;
  -webkit-transform: skewY(2deg);
      -ms-transform: skewY(2deg);
          transform: skewY(2deg);
  width: 90%;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 100px;
  padding-left: 160px;
  padding-right: 160px;
  text-align: center;
  position: relative;
}
@media (max-width: 1700px) {
  .footer__block {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 768px) {
  .footer__block {
    width: 100%;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
  }
}
@media (max-width: 480px) {
  .footer__block {
    padding-top: 60px;
  }
}
.footer__wrapper {
  -webkit-transform: skewY(-2deg);
      -ms-transform: skewY(-2deg);
          transform: skewY(-2deg);
  text-align: center;
}
@media (max-width: 768px) {
  .footer__wrapper {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
.footer__tel {
  font-size: 40px;
  color: white;
  border: 3px solid white;
  padding: 20px 70px 20px 30px;
  border-radius: 90px;
  display: inline-block;
  margin-top: 110px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .footer__tel {
    font-size: 30px;
    padding: 20px 30px;
  }
}
@media (max-width: 480px) {
  .footer__tel {
    font-size: 26px;
    padding: 20px;
  }
}
.footer__tel:hover {
  background-color: white;
  color: #61c3ff;
}
.footer__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 40px;
  gap: 30px;
}
@media (max-width: 1366px) {
  .footer__grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 1024px) {
  .footer__grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .footer__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 50px;
  }
}
.footer__grid > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__city {
  font-size: 24px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3px;
}
.footer__city span:first-child {
  font-weight: 700;
  margin-top: 5px;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  padding-top: 40px;
  gap: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid white;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.footer__bottom p {
  font-size: 22px;
  color: white;
}
.footer__bottom p a {
  color: white;
}
@media (max-width: 768px) {
  .footer__bottom p:first-child {
    display: none;
  }
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.footer__list img {
  width: 38px;
}
.footer__ribbon {
  background-color: white;
  margin-left: -160px;
  margin-right: -160px;
  font-size: 24px;
  padding: 20px 0;
  margin-bottom: 40px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
}
.footer__ribbon > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 70px;
  white-space: nowrap;
  gap: 70px;
  text-transform: uppercase;
  -webkit-animation: 90s linear infinite running line;
          animation: 90s linear infinite running line;
}
@media (max-width: 768px) {
  .footer__ribbon > div {
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .footer__ribbon {
    -webkit-transform: skewY(2deg);
        -ms-transform: skewY(2deg);
            transform: skewY(2deg);
    font-size: 18px;
  }
}
.footer__text {
  display: none;
  font-size: 22px;
  margin-top: 30px;
  color: white;
}
@media (max-width: 768px) {
  .footer__text {
    display: block;
  }
}
.footer__logo {
  position: absolute;
  z-index: 20;
  left: 50%;
  top: 100px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.footer__logo.mobile {
  display: none;
}
@media (max-width: 768px) {
  .footer__logo {
    margin-top: -220px;
  }
  .footer__logo.mobile {
    display: block;
    width: 377px;
  }
  .footer__logo.desktop {
    display: none;
  }
}
@media (max-width: 480px) {
  .footer__logo.mobile {
    width: 200px;
    margin-top: -170px;
  }
}
.footer__text-2 {
  font-size: 22px;
  color: white;
}

@-webkit-keyframes line {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-500%, 0);
            transform: translate(-500%, 0);
  }
}

@keyframes line {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-500%, 0);
            transform: translate(-500%, 0);
  }
}
.promotion {
  background-image: url("../img/bg-3.png");
  background-size: cover;
  background-position: center;
  padding-top: 182px;
  padding-bottom: 114px;
  position: relative;
  overflow: hidden;
}
.promotion::before {
  content: url("../img/bg-5.png");
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-120%);
      -ms-transform: translateX(-120%);
          transform: translateX(-120%);
}
@media (max-width: 480px) {
  .promotion::before {
    content: url("../img/bg-9.png");
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    top: 160px;
    left: 0;
  }
}
.promotion::after {
  content: url("../img/bg-7.png");
  position: absolute;
  bottom: 0;
}
@media (max-width: 480px) {
  .promotion::after {
    display: none;
  }
}
.promotion__container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 480px) {
  .promotion__container {
    position: relative;
  }
  .promotion__container::after {
    content: url("../img/bg-10.png");
    position: absolute;
    bottom: -20px;
    right: 0;
  }
}
.promotion h2 {
  color: white;
  font-family: "Haettenschweiler", serif;
  text-transform: uppercase;
  font-size: 142px;
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
  text-align: right;
  letter-spacing: 2.84px;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
@media (max-width: 1920px) {
  .promotion h2 {
    font-size: calc(
            62px + 80 *
                ((100vw - 420px) / 1500)
        );
  }
}
.promotion h2 span {
  color: #e7be00;
}
@media (max-width: 1024px) {
  .promotion {
    padding: 100px 0;
  }
}
@media (max-width: 480px) {
  .promotion {
    padding: 45px 0;
  }
  .promotion h2 {
    text-align: right;
  }
}
.promotion__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.18fr 1fr;
  grid-template-columns: 1.18fr 1fr;
  gap: 56px;
  margin-bottom: 46px;
  position: relative;
}
.promotion__grid:after {
  content: url("../img/bg-6.png");
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateX(50%) translateY(-55%);
      -ms-transform: translateX(50%) translateY(-55%);
          transform: translateX(50%) translateY(-55%);
  z-index: 0;
}
@media (max-width: 480px) {
  .promotion__grid:after {
    display: none;
  }
}
@media (max-width: 1024px) {
  .promotion__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 480px) {
  .promotion__grid {
    margin-bottom: 40px;
  }
}
.promotion__grid-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.promotion__block {
  margin-top: 40px;
  font-family: "Haettenschweiler", serif;
  text-transform: uppercase;
  font-size: 78px;
  background-color: #e7be00;
  padding: 10px 18px;
  border-radius: 10px;
  text-align: center;
  letter-spacing: 4.68px;
  position: relative;
  z-index: 1;
}
@media (max-width: 1920px) {
  .promotion__block {
    font-size: calc(
            40px + 38 *
                ((100vw - 420px) / 1500)
        );
  }
}
@media (max-width: 480px) {
  .promotion__block {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 8px;
    margin-top: 0;
  }
}
.promotion__img {
  width: 100%;
  position: relative;
  z-index: 1;
}
@media (max-width: 480px) {
  .promotion__img.desktop {
    display: none;
  }
}
.promotion__img.mobile {
  display: none;
}
@media (max-width: 480px) {
  .promotion__img.mobile {
    display: block;
  }
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Haettenschweiler", serif;
  color: white;
  gap: 20px;
  font-size: 120px;
}
@media (max-width: 1920px) {
  .timer {
    font-size: calc(
            80px + 40 *
                ((100vw - 420px) / 1500)
        );
  }
}
@media (max-width: 480px) {
  .timer {
    margin: 0 auto;
  }
}
.timer > div > div {
  width: 182px;
  height: 207px;
  background-image: url("../img/bg-4.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 480px) {
  .timer > div > div {
    width: 137px;
    height: 141px;
    background-image: url("../img/bg-8.png");
  }
}
.timer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.timer > div span {
  font-size: 30px;
  letter-spacing: 6px;
  font-family: "Acherus", serif;
  font-weight: 300;
}
@media (max-width: 480px) {
  .timer > div span {
    font-size: 22px;
    letter-spacing: 4.4px;
  }
}
@media (max-width: 1024px) {
  .timer > div:nth-child(4), .timer > div:nth-child(3) {
    display: none;
  }
}