@font-face {
    font-family: 'CeraRoundPro';
    font-display: swap;
    src: url('../fonts/CeraRoundPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'CeraRoundPro';
    font-display: swap;
    src: url('../fonts/CeraRoundPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
