@import 'fonts';
@import 'null';
@import 'mixins';

$minWidth: 360;
$maxWidthContainer: 1520;
$maxWidth: 1920;

body {
    position: relative;
    &.lock {
        overflow: hidden;
    }
}
.container {
    max-width: 1560px;
    margin: 0 auto;
    padding: 0 20px;
}
.subtitle {
    font-weight: 900;
    line-height: 130%;
    @include adaptiv-font(40, 24);
    color: white;
    span {
        color: #fecc01;
    }
}
.btn {
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
    @include adaptiv-font(24, 16);
    color: #333;
    padding: 20px 40px;
    background-color: #fecc01;
    border-radius: 5px;
    &.img {
        &::before {
            content: url('../img/icon-7.svg');
            margin-right: 10px;
            transform: translateY(3px);
            display: inline-block;
            @media (max-width: 480px) {
                transform: none;
            }
        }
        @media (max-width: 480px) {
            display: flex;
            align-items: center;
        }
    }
    @media (max-width: 480px) {
        padding: 20px 20px;
    }
}
.text {
    font-weight: 900;
    line-height: 130%;
    @include adaptiv-font(24, 14);
    font-family: 'Lato', sans-serif;
    color: white;
}
.title {
    font-weight: 900;
    line-height: 130%;
    text-transform: uppercase;
    color: #333;
    @include adaptiv-font(96, 32);
    span {
        color: #fecc01;
    }
}
.sub-title {
    font-weight: 900;
    line-height: 130%;
    text-transform: uppercase;
    color: #fff;
    font-size: 64px;
    @include adaptiv-font(64, 32);
    span {
        color: #f04438;
    }
}
.small-text {
    @include adaptiv-font(20, 14);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 130%;
    color: #333;
}

@import './sections/intro';
@import './sections/step-1';
@import './sections/step-2';
@import './sections/step-3';
@import './sections/step-4';
@import './sections/step-5';
@import './sections/step-6';
@import './sections/step-7';
@import './sections/step-8';
@import './sections/popup';
@import './sections/video';
@import './sections/footer';

@import './pages/pdf';
