@import 'fonts';
@import 'null';
@import 'mixins';

$maxWidthContainer: 1920;

.container {
    max-width: 1950px;
    margin: 0 auto;
    padding: 0 15px;
}
.title {
    font-weight: 700;
    color: #2d2f30;
    @include adaptiv-font(60, 37);
}
.text {
    font-size: 33px;
    line-height: calc(36 / 33 * 100%);
    font-weight: 300;
    color: #2d2f30;
    @include adaptiv-font(33, 20);
}
.btn {
    padding: 26px 85px;
    background-color: #58aee6;
    font-size: 25px;
    line-height: calc(28 / 25 * 100%);
    font-weight: 700;
    color: white;
    border-radius: 40px;
}

@import './sections/intro';
@import './sections/video-reviews';
@import './sections/reviews';
