.pdf {
    padding-top: 120px;
    padding-bottom: 150px;
    position: relative;
    @media (max-width: 480px) {
        padding-top: 50px;
        padding-bottom: 195px;
    }
    &::after {
        content: url('../img/bg-8.png');
        position: absolute;
        bottom: 0;
        right: 0;
        @media (max-width: 1330px) {
            display: none;
        }
        @media (max-width: 480px) {
            display: block;
            content: url('../img/bg-9.png');
        }
    }
    &-wrapper {
        background-color: #171717;
    }
    &__title {
        text-align: center;
        margin-bottom: 40px;
        @media (max-width: 480px) {
            margin-bottom: 20px;
            text-align: left;
        }
    }
    &__text {
        max-width: 982px;
        text-align: center;
        margin: 0 auto;
        @media (max-width: 480px) {
            text-align: left;
        }
    }
    &__subtitle {
        text-align: center;
        margin-top: 60px;
        margin-bottom: 20px;
        @media (max-width: 480px) {
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: left;
        }
    }
    &-flex {
        max-width: 982px;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (max-width: 480px) {
            text-align: left;
        }
    }
    &-grid {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 616px 616px;
        gap: 20px;
        justify-content: center;
        margin-bottom: 120px;
        position: relative;
        @media (max-width: 1380px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 670px) {
            grid-template-columns: 1fr;
        }
        @media (max-width: 480px) {
            margin-bottom: 40px;
            z-index: 1;
        }
        & > div {
            background: #1d1e21;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: baseline;
            gap: 30px;
            @media (max-width: 480px) {
                padding: 20px;
                gap: 15px;
            }
            &:first-child {
                ul {
                    li {
                        &:first-child {
                            flex: 1 1 auto;
                        }
                        &:nth-child(5) {
                            flex: 1 1 auto;
                        }
                    }
                }
            }
            button {
                @media (max-width: 480px) {
                    width: 100%;
                }
            }
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 30px;
            flex: 1 1 auto;
            @media (max-width: 480px) {
                gap: 15px;
            }
            li {
                color: white;
                position: relative;
                padding-left: 34px;
                img {
                    position: absolute;
                    left: 0;
                    @media (max-width: 480px) {
                        width: 18px;
                        height: 18px;
                    }
                }
                span {
                    font-weight: 900;
                    line-height: 110%;
                    text-transform: uppercase;
                    font-size: 24px;
                    font-family: '_Akrobat', sans-serif;
                    display: block;
                    margin-bottom: 13px;
                    @media (max-width: 480px) {
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                    b {
                        color: #fecc01;
                    }
                }
            }
        }
    }
    &-block {
        max-width: 1252px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: baseline;
        position: relative;
        z-index: 1;
        h2 {
            color: #fecc01;
        }
        @media (max-width: 480px) {
            gap: 20px;
        }
    }
    &-text {
        max-width: 775px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        p {
            a {
                color: #fecc01;
            }
        }
    }
}
