.footer {
    background-color: #171717;
    text-align: center;
    @include adaptiv-value(padding-top, 112, 60, 1);
    @include adaptiv-value(padding-bottom, 120, 60, 1);
    &__sub-title {
        font-weight: 900;
        line-height: 130%;
        text-transform: uppercase;
        color: white;
        @include adaptiv-font(40, 20);
        span {
            color: #fecc01;
        }
    }
    img {
        display: block;
        margin: 0 auto;
        margin-bottom: 16px;
        margin-top: 4px;
        transform: translateX(-150px);
        @media (max-width: 768px) {
            transform: translateX(-90px);
        }
        @media (max-width: 480px) {
            transform: translateX(-80px);
            width: 105px;
        }
    }
    &__text {
        max-width: 1056px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 71px;
        span {
            color: #fecc01;
        }
        i {
            font-style: normal;
            color: #f04438;
        }
        @media (max-width: 480px) {
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }
    button {
        margin: 0 auto;
    }
}
