.footer {
  padding: 40px 0;
  overflow: hidden;
  @media (max-width: 768px) {
    padding-top: 120px;
  }
  & > div {
    background-color: #262a2b;
  }
  &__block {
    background-color: #61c3ff;
    transform: skewY(2deg);
    width: 90%;
    margin: auto;
    padding-top: 200px;
    padding-bottom: 100px;
    padding-left: 160px;
    padding-right: 160px;
    text-align: center;
    position: relative;
    @media (max-width: 1700px) {
      padding-left: 50px;
      padding-right: 50px;
    }
    @media (max-width: 768px) {
      width: 100%;
      transform: none;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 100px;
    }
    @media (max-width: 480px) {
      padding-top: 60px;
    }
  }
  &__wrapper {
    transform: skewY(-2deg);
    text-align: center;
    @media (max-width: 768px) {
      transform: none;
    }
  }
  &__tel {
    font-size: 40px;
    color: white;
    border: 3px solid white;
    padding: 20px 70px 20px 30px;
    border-radius: 90px;
    display: inline-block;
    margin-top: 110px;
    display: inline-flex;
    gap: 10px;
    cursor: pointer;
    align-items: center;
    transition: 0.3s;
    @media (max-width: 768px) {
      font-size: 30px;
      padding: 20px 30px;
    }
    @media (max-width: 480px) {
      font-size: 26px;
      padding: 20px;
    }
    &:hover {
      background-color: white;
      color: #61c3ff;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 40px;
    gap: 30px;
    @media (max-width: 1366px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 50px;
    }
    & > div {
      display: flex;
      align-items: flex-start;
      gap: 15px;
      justify-content: center;
    }
  }
  &__city {
    font-size: 24px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    span {
      &:first-child {
        font-weight: 700;
        margin-top: 5px;
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-top: 40px;
    gap: 70px;
    align-items: center;
    border-top: 2px solid white;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 30px;
      align-items: flex-start;
    }
    p {
      font-size: 22px;
      color: white;
      a {
        color: white;
      }
      &:first-child {
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }
  &__list {
    display: flex;
    gap: 20px;
    img {
      width: 38px;
    }
  }
  &__ribbon {
    background-color: white;
    margin-left: -160px;
    margin-right: -160px;
    font-size: 24px;
    padding: 20px 0;
    margin-bottom: 40px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    & > div {
      display: flex;
      white-space: nowrap;
      gap: 70px;
      text-transform: uppercase;
      animation: 200s linear infinite running line;
      @media (max-width: 768px) {
        gap: 30px;
      }
    }
    @media (max-width: 768px) {
      transform: skewY(2deg);
      font-size: 18px;
    }
  }
  &__text {
    display: none;
    font-size: 22px;
    margin-top: 30px;
    color: white;
    @media (max-width: 768px) {
      display: block;
    }
  }
  &__logo {
    position: absolute;
    z-index: 20;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    @media (max-width: 768px) {
      margin-top: -220px;
    }
    @media (max-width: 480px) {
      width: 200px;
      margin-top: -170px;
    }
  }
}

@keyframes line {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-1000%, 0);
  }
}
