.promotion {
  background-image: url("../img/bg-3.png");
  background-size: cover;
  background-position: center;
  padding-top: 182px;
  padding-bottom: 114px;
  position: relative;
  overflow: hidden;
  &::before {
    content: url("../img/bg-5.png");
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-120%);
    @media (max-width: 480px) {
      content: url("../img/bg-9.png");
      transform: none;
      top: 160px;
      left: 0;
    }
  }
  &::after {
    content: url("../img/bg-7.png");
    position: absolute;
    bottom: 0;
    @media (max-width: 480px) {
      display: none;
    }
  }
  &__container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
    @media (max-width: 480px) {
      position: relative;
      &::after {
        content: url("../img/bg-10.png");
        position: absolute;
        bottom: -20px;
        right: 0;
      }
    }
  }
  h2 {
    color: white;
    font-family: "Haettenschweiler", serif;
    text-transform: uppercase;
    @include adaptiv-font(142, 62);
    transform: translateY(-20px);
    text-align: right;
    letter-spacing: 2.84px;
    span {
      color: #e7be00;
    }
    transform: none;
  }
  @media (max-width: 1024px) {
    padding: 100px 0;
  }
  @media (max-width: 480px) {
    padding: 45px 0;
    h2 {
      text-align: right;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: 1.18fr 1fr;
    gap: 56px;
    margin-bottom: 46px;
    position: relative;
    &:after {
      content: url("../img/bg-6.png");
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateX(50%) translateY(-55%);
      z-index: 0;
      @media (max-width: 480px) {
        display: none;
      }
    }
    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
    @media (max-width: 480px) {
      margin-bottom: 40px;
    }
    &-2 {
      display: flex;
      align-items: flex-start;
      column-gap: 20px;
      justify-content: space-between;
      row-gap: 30px;
      flex-wrap: wrap;
    }
  }
  &__block {
    margin-top: 40px;
    font-family: "Haettenschweiler", serif;
    text-transform: uppercase;
    @include adaptiv-font(78, 40);
    background-color: #e7be00;
    padding: 10px 18px;
    border-radius: 10px;
    text-align: center;
    letter-spacing: 4.68px;
    position: relative;
    z-index: 1;
    @media (max-width: 480px) {
      width: 100%;
      order: 1;
      padding: 8px;
      margin-top: 0;
    }
  }
  &__img {
    width: 100%;
    position: relative;
    z-index: 1;
    &.desktop {
      @media (max-width: 480px) {
        display: none;
      }
    }
    &.mobile {
      display: none;
      @media (max-width: 480px) {
        display: block;
      }
    }
  }
}
.timer {
  display: flex;
  font-family: "Haettenschweiler", serif;
  color: white;
  gap: 20px;
  @include adaptiv-font(120, 80);
  @media (max-width: 480px) {
    margin: 0 auto;
  }
  & > div > div {
    width: 182px;
    height: 207px;
    background-image: url("../img/bg-4.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 480px) {
      width: 137px;
      height: 141px;
      background-image: url("../img/bg-8.png");
    }
  }
  & > div {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    span {
      font-size: 30px;
      letter-spacing: 6px;
      font-family: "Acherus", serif;
      font-weight: 300;
      @media (max-width: 480px) {
        font-size: 22px;
        letter-spacing: 4.4px;
      }
    }
    @media (max-width: 1024px) {
      &:nth-child(4),
      &:nth-child(3) {
        display: none;
      }
    }
  }
}
