.step-2 {
    @include adaptiv-value(padding-top, 180, 60, 1);
    @include adaptiv-value(padding-bottom, 128, 60, 1);
    background-color: #171717;
    background-image: url('../img/bg-3.png');
    background-size: cover;
    background-position: center;
    @media (max-width: 480px) {
        min-height: auto;
        background-image: url('../img/bg-13.png');
        background-repeat: no-repeat;
        background-position: top;
    }
    &__title {
        color: white;
        margin-bottom: 40px;
        span {
            color: #f04438;
        }
        @media (max-width: 480px) {
            margin-bottom: 20px;
        }
    }
    &__text {
        max-width: 1126px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        @include adaptiv-value(margin-bottom, 180, 60, 1);
        @media (max-width: 480px) {
            gap: 20px;
        }
    }
    ul {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        align-items: center;
        @media (max-width: 1024px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
        @media (max-width: 480px) {
            margin-top: 20px;
        }
        li {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #fff;
            @include adaptiv-font(24, 16);
            font-weight: 900;
            line-height: 130%;
            text-transform: uppercase;
            max-width: 420px;
            span {
                color: #f04438;
            }
            @media (max-width: 768px) {
                max-width: none;
            }
            img {
                @media (max-width: 480px) {
                    width: 62px;
                    height: 62px;
                }
            }
        }
        button {
            width: fit-content;
            @media (max-width: 480px) {
                width: 100%;
            }
        }
    }
}
