.step-6 {
    padding-bottom: 138px;
    @include adaptiv-value(padding-top, 120, 20, 1);
    background-image: url('../img/bg-6.png');
    background-size: cover;
    overflow: hidden;
    position: relative;
    @media (max-width: 480px) {
        padding-bottom: 206px;
        background-image: url('../img/bg-15.png');
    }
    &-block {
        background: rgba(0, 0, 0, 0.35);
        backdrop-filter: blur(17.5px);
        padding: 60px;
        max-width: 1148px;
        margin-left: auto;
        @media (max-width: 480px) {
            padding: 20px;
            img {
                width: 105px;
            }
        }
        @media (max-width: 460px) {
            &:after {
                content: url('../img/bg-16.png');
                position: absolute;
                left: 0;
                right: 0;
                text-align: center;
                z-index: 2;
                bottom: -210px;
            }
        }
        @media (max-width: 360px) {
            &:after {
                left: -20px;
            }
        }
    }
    &__title {
        color: white;
        margin-bottom: 40px;
        @media (max-width: 480px) {
            margin-bottom: 20px;
        }
    }
    &__btn {
        display: block;
        margin-top: 16px;
        position: relative;
        z-index: 3;
    }
    &__text {
        font-weight: 900;
        line-height: 130%;
        text-transform: uppercase;
        color: #fff;
        @include adaptiv-font(24, 16);
        margin-top: 40px;
        margin-bottom: 40px;
        span {
            color: #fecc01;
        }
        @media (max-width: 480px) {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}
